<nav-bar></nav-bar>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>Controller Information</mat-grid-tile>
  <mat-grid-tile>Weather Information</mat-grid-tile>
</mat-grid-list>

<mat-tab-group mat-stretch-tabs dynamicHeight>
  <mat-tab label="SCHEDULE">
    <div class="example-small-box">
      Small content
    </div>
  </mat-tab>
  <mat-tab label="ADJUSTMENTS">
    <div class="example-large-box">
      Large content
    </div>
  </mat-tab>
  <mat-tab label="REMOTE CONTROL">
      <div class="example-large-box">
        Large content
      </div>
    </mat-tab>
    <mat-tab label="STATIONS">
        <div class="example-large-box">
          Large content
        </div>
      </mat-tab>
      <mat-tab label="SETTINGS">
          <div class="example-large-box">
            Large content
          </div>
        </mat-tab>
</mat-tab-group>
